site_name: ToolDiy
site_url: https://github.com/cargo-youth/ToolDiy/

repo_name: ToolDiy
repo_url: https://github.com/cargo-youth/ToolDiy

edit_uri: blob/main/docs/

# 主题设置
theme:
  name: material
  language: zh
  custom_dir: overrides
  palette:
    - media: "(prefers-color-scheme: light)"
      scheme: default
      toggle:
        icon: material/weather-night
        name: 暗色模式
    - media: "(prefers-color-scheme: dark)"
      scheme: slate
      toggle:
        icon: material/weather-sunny
        name: 亮色模式
  features:
    # https://squidfunk.github.io/mkdocs-material/setup/setting-up-navigation/?h=nav#navigation-tabs
    - navigation.tabs 
    - navigation.tabs.sticky
    # https://squidfunk.github.io/mkdocs-material/setup/adding-a-git-repository/?h=edit#code-actions
    - content.action.edit


# 导航
## 请依照下面的格式填写
nav:
  - 简介 : 
    - 前言 : "index.md"
    - 规范 :
      - PR规范 : "specification/pr.md"
      - Markdown规范 : 
        - 基础语法 : "specification/markdown/markdown.md"
        - LaTex语法 : "specification/markdown/latex.md"
        - 中英混排 : "specification/markdown/chinese_copywriting_guidelines.md"
    - 写作模板 : "specification/template.md"
  - 软件 : 
    - TeXmacs : "software/texmacs.md"
    - Mathpix : "software/mathpix.md"
    - nano : "software/nano.md"
    - Gdbdashboard : "software/gdbdashboard.md"
  - 插件 :
    - Android Studio : "plugins/android.md"
    - Browser : "plugins/browser.md"
  - 平台 :
    - GitBucket : "platform/GitBucket.md"
    - Excalidraw : "platform/excalidraw.md"
    - Overleaf : "platform/overleaf.md"

# 版权
copyright: This website follows CC BY-SA 4.0 

# 插件
plugins:
  - i18n:
      default_language: zh
      material_alternate: true
      languages:
        zh:
          name: 简体中文
          build: true
        en:
          name: English
          build: true
      nav_translations:
        zh:
          How to Contribute : 如何贡献
        en:
          简介 : Introduction
          前言 : Preface
          规范 : Specification
          PR规范 : PR Specification
          Markdown规范 : Markdown Specification
          基础语法 : Markdown Syntax
          LaTex语法 : LaTeX Syntax
          中英混排 : Chinese With English
          写作模板 : Writing Template
          软件 : Software
          插件 : Plugins
          平台 : Platform
  - search:
      lang: ja

# LaTeX支持
markdown_extensions:
  - pymdownx.arithmatex:
      generic: true
  - admonition
  - pymdownx.details
  - pymdownx.tilde
  - pymdownx.superfences
  - footnotes
  - def_list
  - pymdownx.tasklist:
      custom_checkbox: true

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js
